body {
    margin-left: 40px;
    margin-right: 40px;
}

.red {
    color: red;
}

.bookTitle {
    font-size: 16px;
    font-weight: bold;
}

p:nth-child(even) {
    background: silver;
}

.books {
    margin-top: 20px;
    margin-bottom: 20px;
}